<div class="col mb-4">
        <div class="card h-100">
          <img src="{{ '/assets/img/' | append: include.image }}" class="card-img-top" alt="{{ include.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ include.title }}</h5>
            <p class="card-text">{{ include.description }}</p>
          </div>
        </div>
      </div>